[data-scroll]:not([data-scroll$="Area"]){ transition-duration: 0.5s; transition-property: transform , opacity;}
[data-scroll="top"]{transform: translateY(100px); opacity: 0;}
[data-scroll="top"].scrollEvent{transform: translateY(0); opacity: 1;}
[data-scroll="left"]{transform: translateX(-100px); opacity: 0;}
[data-scroll="left"].scrollEvent{transform: translateX(0); opacity: 1;}
[data-scroll="right"]{transform: translateX(100px); opacity: 0;}
[data-scroll="right"].scrollEvent{transform: translateX(0); opacity: 1;}

[data-scroll$="Area"] > *{transition-duration: 0.5s; transition-property: transform , opacity; opacity: 0;}
[data-scroll$="Area"].scrollEvent > *{opacity: 1;}
[data-scroll="topArea"] > *{transform: translateY(100px);}
[data-scroll="topArea"].scrollEvent > *{transform: translateY(0);}
[data-scroll="leftArea"] > *{transform: translateX(-100px); opacity: 0;}
[data-scroll="leftArea"].scrollEvent > *{transform: translateX(0);}


/* 메인 페이지 */
.mainPage main{height: 100vh;  position: relative; z-index: 20; pointer-events: none;}
.mainPage main > div{height: 100%; position: relative; left: 0; transition: 1s left; transition-delay: 0.6s; transition-timing-function: cubic-bezier(.19,1,.22,1);}
.mainPage main > div.startAni{left: -300px;}
.mainPage main > div > *{display: flex; justify-content: center; align-items: center;  width: 100%; height: 100%; padding: calc(6.9370vh + 22px) 0 calc(4.8025vh + 19.7438vh); box-sizing: border-box;}
.mainPage main > div > * > *{pointer-events: all;}
.mainPage main .contentArea{display: flex; align-items: flex-start; width: 100%; position: relative;}
/* .mainPage main .contentArea > *:not(:last-child){margin-right: 140px;} */
.mainPage main .contentArea .pageArea{ display: flex; margin-right: 140px;}
.mainPage main .contentArea .pageArea span{font-size: 14px; font-weight: 900;}
.mainPage main .contentArea .pageArea span:first-child{display: flex; align-items: center;}
.mainPage main .contentArea .pageArea span:first-child::after{content: ''; width: 40px; height: 1px; background-color: #d8d8d9; margin: 0 15px;}
.mainPage main h2{font-size: 48px; line-height: 60px; margin-bottom: 70px;}
.mainPage main p{font-size: 19px; line-height: 28px;}

.mainPage main .fullPager{position: fixed; left: 5vw; top: 0; height: 100%; display: flex; flex-direction: column; justify-content: center; z-index: 99;}
.mainPage main .fullPager li{width: 13px; height: 13px; border-radius: 100%; background-color: black; opacity: 0.2; text-indent: -9999px; transition: 0.5s opacity; pointer-events: all; cursor: pointer;}
.mainPage main .fullPager li:not(:last-child){margin-bottom: 15px;}
.mainPage main .fullPager li.active{opacity: 1;}

/* 메인페이지 - 첫번째 화면 */
.mainPage main .monitorArea h2 div{width: 553px; height: 75px; background-image: url('../images/S-PATCHEX01.png'); background-repeat: no-repeat; text-indent: -9999px; margin-top: 15px;}
.mainPage main .monitorArea .contentArea ol{position: relative; flex: 1; z-index: 1;}
.mainPage main .monitorArea .contentArea ol li{display: block; width: 100%; opacity: 0;  position: absolute; left: 0; top: 0; z-index: -1;}
.mainPage main .monitorArea .contentArea ol li.active{display: block; position: static; opacity: 1; z-index: 1; transition: 0.5s opacity;}
.mainPage main .monitorArea .contentArea ol li p{color: #3a3a40; margin-bottom: 60px;}
.mainPage main .monitorArea .contentArea ol li a{font-size: 14px; font-weight: 900; color: #3a3a40; padding-bottom: 11px; position: relative;}
.mainPage main .monitorArea .contentArea ol li a::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color:#3a3a40;}
.mainPage main .monitorArea .contentArea ol li a::before{content: ''; position: absolute; left: 50%; bottom: 0; width: 0; height: 1px; background-color:#3a3a40;}
.mainPage main .monitorArea .contentArea ol li a:hover::after{display: none;}
.mainPage main .monitorArea .contentArea ol li a:hover::before{left: 0; width: 100%; transition: 0.5s left, 0.5s width;}
/* 메인페이지 - 첫번째 화면 event*/
.mainPage main .monitorArea .contentArea ol li:first-child .eventBox{position: absolute; right: 0; bottom: -50%; pointer-events: none; }
.mainPage main .monitorArea .contentArea ol li:first-child.active .eventBox{pointer-events: all;}
.mainPage main .monitorArea .contentArea ol li:first-child.active .eventBox .imgBox {position: absolute;  right: -90px; opacity: 0;  z-index: 102; bottom: -500px;  animation: mainFirst01 1s forwards;}
.mainPage main .monitorArea .contentArea ol li:first-child .eventBox div.textBox{position: relative; z-index: 1; font-size: 14px; line-height: 24px; width: 260px; padding: 30px 20px; box-sizing: border-box; color: white; background-color: rgba(11, 175, 212, 0.6); opacity: 0; left: 100px; transition-duration: 0.5s; transition-property: left , opacity;}
.mainPage main .monitorArea .contentArea ol li:first-child.active .imgBox:hover + .textBox{opacity: 1; left: 0;}
@keyframes mainFirst01 {
    0%{bottom: -500px; opacity: 0;}
    50%{opacity: 1;}
    100%{bottom: -125px; opacity: 1;}
}
.mainPage main .monitorArea .contentArea ol li:first-child.active .eventBox .imgBox img{position: relative; animation: mainFirst02 1s linear 1s infinite alternate; }
@keyframes mainFirst02 {
    0%{bottom: 0;}
    100%{bottom: -25px;}
}
.mainPage main .monitorArea .contentArea ol li:first-child.active .eventBox .imgBox.startAni{animation-name: none;}

/* 메인페이지 - 두번째 화면 event*/
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox{position: absolute; bottom: 0; left: -325px; width: 100%;  display: flex; justify-content: space-between;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div{width: 50vw; height: 227px; position: absolute; top: -113.5px; transition-duration: 0.5s; transition-property: right , left;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div::before ,.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div::after{
    content: ''; height: 100%; position: absolute; top: 0; 
}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div:first-child{right: 200%;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div:first-child::before{position: absolute; right: 0;  width: 278px; background: url('../images/main_secondImg01_1.png') no-repeat left top;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div:first-child::after{position: absolute; right: 278px; width: 50vw; background: url('../images/main_secondImg01_2.png') repeat-x left top;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div:last-child{left: 180%;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div:last-child::before{position: absolute; left: 0; width: 278px; background: url('../images/main_secondImg02_1.png') no-repeat left top;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div:last-child::after{position: absolute; left: 278px; width: 50vw; background: url('../images/main_secondImg01_2.png') repeat-x left top 12px / 28px;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2).active .eventBox div:first-child{right: 100%;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2).active .eventBox div:last-child{left: 80%;}

.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox{width: 650px; overflow: hidden;}
.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div{width: 300vw; position: relative; left: 0;}
.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div::after{content: ''; display: block; clear: both;}
.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div p{float: left; position: relative; opacity: 0.4; cursor: pointer;}
.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div p.active{opacity: 1; cursor: auto;}
.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div p:not(:last-child){margin-right: 80px;}
.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div p button{text-indent: -9999px; position: absolute; right: -40px; top: 0; width: 13px; height: 10px; background: url('../images/nextIcon.png') no-repeat center / cover;}
/* .mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div p:last-child button{display: none;} */

/* 메인페이지 - 세번째 화면 event*/
.mainPage main .monitorArea .contentArea ol li:nth-child(3) .eventBox{position: absolute; right: -80px; /* top: 100px; */ bottom: -100vh; width: 790px; height: 730px; background: url('../images/main_thirdImg.png') no-repeat center / cover; pointer-events: none; opacity: 0; transition-duration: 0.5s; transition-property: opacity , bottom;}
.mainPage main .monitorArea .contentArea ol li:nth-child(3).active .eventBox{opacity: 1; /* top: -215px; */}

/* 마우스휠을 돌려주세요 */
.mainPage main .monitorArea .contentArea .scrollIcon{position: absolute; bottom: -90px; left: 550px; font-size: 12px; font-weight: 600;}
.mainPage main .monitorArea .contentArea .scrollIcon div{text-indent: -9999px; width: 20px; height: 35px; border: 1px solid black; border-radius: 10px; margin: 0 auto; margin-bottom: 15px; position: relative;}
.mainPage main .monitorArea .contentArea .scrollIcon div::after{content: ''; position: absolute; left: calc(50% - 1px); top: 10px; width: 2px; height: 4px; background-color: black; 
    animation: scrollIcon 1s linear infinite alternate;    
}
@keyframes scrollIcon {
    0%{top: 8px;}
    100%{top: 13px;}
}

.mainPage.BGActive main .monitorArea h2 div{background-image: url('../images/S-PATCHEX02.png');}
.mainPage.BGActive{background-color: #73e5ff;  transition-duration: 0.5s; transition-property: background-color;}
.mainPage.BGActive main .monitorArea .pageArea span:first-child::after{background-color: black;}
.mainPage.BGActive > div header > div > nav{border-color: black;}

/* 메인페이지 - 두번째 화면 */
.mainPage main div.videoArea{position: fixed; z-index: 11; left: 100%; top: 0; width: 100%;  height: 100%; background-color: rgba(0, 0, 0, 0.7); transition: 0.5s left;}
.mainPage main div.videoArea > div{ position: relative; z-index: 20; height: 100%; display: flex; align-items: flex-end; opacity: 0; }
.mainPage main div.videoArea > div img{width: 100%; cursor: pointer; position: relative; z-index: 20;} 
.mainPage main div.videoArea > div iframe{width: 100%; height: calc(100% - 60px);}
.mainPage main div.videoArea > div video{width: 100%; height: calc(100% - 60px);}
.mainPage main div.videoArea.active{left: 0;}
.mainPage main div.videoArea.active > div{opacity: 1; transition: 0.5s opacity 0.5s;}

/* 메인페이지 - 세번째 화면 */
.mainPage main .careArea{position: fixed; z-index: -10; left: 0; top: 0; width: 100%;  height: 100%; color: white; background: url('../images/mainBG01.png') no-repeat center / cover;  opacity: 0; transition-duration: 0.5s ,0s; transition-delay: 0.3s, 0.8s; transition-property: opacity , z-index;}
.mainPage main .careArea.active{opacity:1; z-index: 12; transition-duration: 0.5s; transition-property: opacity; transition-delay: 0s;}
.mainPage main .careArea h2{font-weight: 700; opacity: 0; transform: translateX(100px); transition-duration: 0.5s; transition-property: opacity , transform;}
.mainPage main .careArea p{font-weight: 300; opacity: 0; transform: translateX(100px);  transition-duration: 0.5s; transition-property: opacity , transform;}
.mainPage main .careArea .pageArea{opacity: 0; transform: translateX(100px);  transition-duration: 0.5s; transition-property: opacity , transform;}
.mainPage main .careArea.active h2{opacity: 1; transform: translateX(0); transition-delay: 0.2s;}
.mainPage main .careArea.active p{opacity: 1; transform: translateX(0);  transition-delay: 0.6s;}
.mainPage main .careArea.active .pageArea{opacity: 1; transform: translateX(0);  transition-delay: 0.4s;}



/* 서브페이지 */
.subPage main{ margin-top: 100px; margin-bottom: 440px; position: relative; z-index: 2; background-color: white;}
.aboutUsArea{padding-top: 135px; padding-bottom:200px;}

/* 서브페이지 - about as */
.aboutUsArea h2{font-size: 60px; font-weight: 900; margin-bottom: 60px;}
.aboutUsArea .subMenu{display: flex; margin-bottom: 110px;}
.aboutUsArea .subMenu li:not(:last-child){margin-right: 35px;}
.aboutUsArea .subMenu li a{font-size: 18px; font-weight: 500; padding-bottom: 15px; position: relative;}
.aboutUsArea .subMenu li a::after{content: ''; position: absolute; left: 50%; bottom: 0; width: 0; height: 2px; background-color: black;}
.aboutUsArea .subMenu li.active a::after , .subPage main .subMenu li:hover a::after {left: 0; width: 100%;}
.aboutUsArea .subMenu li:hover a::after{transition-duration: 0.5s; transition-property: left , width;}
.aboutUsArea.case01 strong{display: block; font-size: 42px; font-weight: 700; line-height: 54px; margin-bottom: 55px;}
.aboutUsArea.case02 strong{display: block; font-size: 48px; font-weight: 900;}

/* about as - helthCare */
.helthCareArea::after{content: ''; display: block; height: 470px; background: url('../images/aboutUs_helthCareImg02.png') no-repeat center / cover; width: 1680px; margin: 0 auto;}
.helthCareArea > div{background: url('../images/aboutUs_helthCareImg01.png') no-repeat right top 260px;}
.helthCareArea > div strong{margin-bottom: 60px;}
.helthCareArea > div p{font-size: 15px; line-height: 28px; color: #565656; text-transform: uppercase; margin-bottom: 150px;}
.helthCareArea > div q{display: block; font-family: 'Libre Baskerville', serif; font-size: 28px; line-height: 48px; margin-bottom: 190px;}

/* about as - location */
.locationArea > div .locationBox{margin-bottom: 100px;}
.locationArea > div .locationBox img{width: 100%;}
.locationArea > div figure{display: flex; justify-content: space-between;}
.locationArea > div figure figcaption{width: 50%;}
.locationArea > div figure figcaption h4{font-size: 24px; font-weight: 800;}

/* about as - news */
.newsArea .newsList li:not(:last-child){margin-bottom: 80px;}
.newsArea .newsList li figure{display: flex;}
.newsArea .newsList li figure img{width: 350px; border: 1px solid #e5e5e5; margin-right: 30px;}
.newsArea .newsList li figure figcaption{position: relative; padding-bottom: 15px;}
.newsArea .newsList li figure figcaption b{display: block; font-size: 14px; font-weight: 600; margin-bottom: 20px;}
.newsArea .newsList li figure figcaption b time{font-family: 'Noto Sans KR',sans-serif; font-weight: 600;}
.newsArea .newsList li figure figcaption b time::before{content: '| ';}
.newsArea .newsList li figure figcaption h4{font-size: 24px; font-weight: 700; margin-bottom: 25px;}
.newsArea .newsList li figure figcaption p{font-size: 14px; line-height: 24px;}
.newsArea .newsList li figure figcaption a{position: absolute; left: 0; bottom: 0; font-size: 14px; color: #00b3e3;}

/* about as - careers */
.careersArea > div strong{margin-bottom: 30px;}
.careersArea > div p{font-size: 15px; line-height: 28px; color: #565656;}


/* products */
/* products 공통*/
.productsArea .case01{padding-top: 130px; text-align: center;}
.productsArea .case01 h2{font-size: 48px; font-weight: 700;}
.productsArea .case01 h2 small{display: block; font-size: 18px; font-weight: 900; color: #0fb4da; text-transform: uppercase; margin-bottom: 65px;}

.productsArea .case02 h2{font-size: 20px; font-weight: 700; color: #1c1c1e;}

.productsArea .BGcolor{background-color: #f5f8fa;}


.productsArea .topArea{background: url('../images/product_topBG.png') no-repeat center / cover;}
.productsArea .topArea > div{padding: 150px 0 240px; position: relative;}
.productsArea .topArea > div h2{max-width: 402px; margin-bottom: 100px;}
.productsArea .topArea > div h2 img{width: 100%;}
.productsArea .topArea > div strong{font-size: 42px; display: block; margin-bottom: 30px;}
.productsArea .topArea > div p{font-size: 18px; line-height: 30px; color: #565656;} 
.productsArea .topArea > div > img{position: absolute; right: -135px; top: 0;}

.productsArea > div{padding: 50px 0; background-color: #042127;}
.productsArea > div ul{display: flex; justify-content: space-between;}
.productsArea > div ul li{text-align: center; color: white;}
.productsArea > div ul li strong{font-size: 55px; display: block; margin-bottom: 25px;}
.productsArea > div ul li strong small{font-size: 30px;}
.productsArea > div ul li P{font-size: 15px;}

.productsArea .detailArea > h2{margin-bottom: 40px;}
.productsArea .detailArea > p{font-size: 24px; line-height: 36px; color: #1c1c1e; margin-bottom: 105px;}
.productsArea .detailArea > div{background-color: #f8f8f8; padding: 165px 0;}
.productsArea .detailArea > div > ul{display: flex; justify-content: flex-end; text-align: left; position: relative;}
.productsArea .detailArea > div > ul::before{content: ''; position: absolute; left: -50px; bottom: -15px; width: 313px; height: 513px; background: url('../images/product_detailImg01.png') no-repeat center / cover; z-index: 1;}
.productsArea .detailArea > div > ul::after{content: ''; position: absolute; left: 180px; top: 50%; width:70px; height: 3px; background: url('../images/product_detailBGImg01.png') no-repeat left center / cover; z-index: 2;}
.productsArea .detailArea > div > ul > li{width: 290px; padding: 60px 40px 32px; display: flex; flex-direction: column; border: 1px solid #b8b8b8; border-radius: 10px; box-sizing: border-box; background-repeat: no-repeat; background-position: center top 105px; background-size: 100%; position: relative;}
.productsArea .detailArea > div > ul > li::after{content: ''; position: absolute; top: 17px; left: calc(50% - 23.5px); width: 47px; height: 8px; border-radius: 10px;}
.productsArea .detailArea > div > ul > li:not(:first-child):before{content: ''; position: absolute; left: -50px; top: 50%; width:50px; height: 3px; background: url('../images/product_detailBGImg02.png') no-repeat center / cover;}
.productsArea .detailArea > div > ul > li:first-child:after{background-color: #9ce9fb;}
.productsArea .detailArea > div > ul > li:not(:first-child)::after{background-color: #89c2f7;}
.productsArea .detailArea > div > ul > li:nth-child(1){background-image: url('../images/product_detailBG01.png');}
.productsArea .detailArea > div > ul > li:nth-child(2){background-image: url('../images/product_detailBG02.png');}
.productsArea .detailArea > div > ul > li:nth-child(3){background-image: url('../images/product_detailBG03.png');}
.productsArea .detailArea > div > ul > li:not(:last-child){margin-right: 50px;}
.productsArea .detailArea > div > ul > li h3{font-size: 22px; margin-bottom: 160px;}
.productsArea .detailArea > div > ul > li p{font-size: 16px; line-height: 26px;}
.productsArea .detailArea > div > ul > li p:not(:last-of-type){margin-bottom: 30px;}
.productsArea .detailArea > div > ul > li p:last-of-type{margin-bottom: 50px;}
.productsArea .detailArea > div > ul > li ul{display: flex; justify-content: space-between;}
.productsArea .detailArea > div > ul > li ul li{width: calc((100% - 5px) / 2);}
.productsArea .detailArea > div > ul > li ul li img{width: 100%;}
.productsArea .detailArea > div > ul > li:first-child{color: white; background-color: #0fb4da;}
.productsArea .detailArea > div > ul > li:not(:first-child){background-color: white;}
.productsArea .detailArea > div > ul > li:not(:first-child) h3{color: #1c75c7;}
.productsArea .detailArea > div > ul > li:not(:first-child) p{color: #818181;}

.productsArea .functionArea{padding: 180px 0; position: relative;}
.productsArea .functionArea::after{content: ''; position: absolute; right: -110px; bottom: 0; width: 550px; height: 784px; background: url('../images/product_functionImg01.png') no-repeat center / cover;}
.productsArea .functionArea li{padding-left: 70px; position: relative;}
.productsArea .functionArea li::before{content: ''; position: absolute; left: 0; top: -20px; width: 57px; height: 57px; background-repeat: no-repeat; background-position: center; background-size: cover;}
.productsArea .functionArea li:nth-child(1):before{background-image: url('../images/product_functionIcon01.png');}
.productsArea .functionArea li:nth-child(2):before{background-image: url('../images/product_functionIcon02.png');}
.productsArea .functionArea li:nth-child(3):before{background-image: url('../images/product_functionIcon03.png');}
.productsArea .functionArea li:nth-child(4):before{background-image: url('../images/product_functionIcon04.png');}
.productsArea .functionArea li:nth-child(5):before{background-image: url('../images/product_functionIcon05.png');}
.productsArea .functionArea li:not(:last-child){margin-bottom: 40px;}
.productsArea .functionArea li strong{font-size: 19px; font-weight: 700; color: #1c1c1e; display: block; margin-bottom: 15px;}
.productsArea .functionArea li p{font-size: 17px; line-height: 20px; color: #8d8d8d;}

.productsArea .introArea{padding: 125px 0;}
.productsArea .introArea > div h2{margin-bottom: 50px;}
.productsArea .introArea > div > div{display: flex; align-items: flex-end;}
.productsArea .introArea > div > div > *{flex: 1;}
.productsArea .introArea > div > div div.videoBox{margin-right: 55px;}
.productsArea .introArea > div > div div.videoBox video{width: 100%;}
.productsArea .introArea > div > div div.textBox p{font-size: 20px; line-height: 30px; margin-bottom: 50px;}
.productsArea .introArea > div > div div.textBox button{display: flex; align-items: center; font-size: 20px; color: #0fb4da;}
.productsArea .introArea > div > div div.textBox button::before{content: ''; width: 18px; height: 18px; background: url('../images/product_videoIcon.png') no-repeat center / cover; margin-right: 10px;}

.productsArea .testimonialArea{padding: 100px 0 140px; background: url('../images/testimonialBG.png') no-repeat center / cover;}
.productsArea .testimonialArea > div h2{font-size: 48px; font-weight: 700; color: white; margin-bottom: 85px;}
.productsArea .testimonialArea > div > div.slideBox{width: 945px; height: 450px;/*  background-color: white; */ margin-left: auto;}
.productsArea .testimonialArea > div > div.slideBox .bx-wrapper{height: 100%; border: none; margin: 0; box-shadow: none;}
.productsArea .testimonialArea > div > div.slideBox .bx-viewport{height: 100%;}
.productsArea .testimonialArea > div > div.slideBox .slider div{height: 100%; padding: 70px 90px 70px 90px;}
.productsArea .testimonialArea > div > div.slideBox .slider div P{font-size: 23px; font-weight: 700; line-height: 36px; padding-top: 100px; margin-bottom: 20px;}
.productsArea .testimonialArea > div > div.slideBox .slider div P:first-of-type{position: relative;}
.productsArea .testimonialArea > div > div.slideBox .slider div P:first-of-type::before{content: ''; position: absolute; left: 0; top: 0; width: 25px; height: 4px; background-color: black;}
.productsArea .testimonialArea > div > div.slideBox .slider div small{font-size: 14px; font-weight: 500;}
.productsArea .testimonialArea > div > div.slideBox .bx-controls-direction a{top: auto; bottom: 70px;}
.productsArea .testimonialArea > div > div.slideBox .bx-prev ,.productsArea .testimonialArea > div > div.slideBox .bx-next{
    background: none; text-indent: 0; font-size: 50px;
}
.productsArea .testimonialArea > div > div.slideBox .bx-prev{left: auto; right: 200px;}
.productsArea .testimonialArea > div > div.slideBox .bx-next{right: 100px; }
.productsArea .testimonialArea > div > div.slideBox .bx-wrapper .bx-pager,
.productsArea .testimonialArea > div > div.slideBox .bx-wrapper .bx-controls-auto{
    width: auto; bottom: auto; top: 140px; left: 90px; padding-top: 0;
}

.productsArea .appArea{margin-bottom: 100px;}
.productsArea .appArea h2{margin-bottom: 165px;}
.productsArea .appArea ol{display: flex;}
.productsArea .appArea ol li{flex: 1; counter-increment: appCount; font-size: 24px; color: #1c1c1e; padding-bottom: 25px; position: relative;}
.productsArea .appArea ol li::before{content: counter(appCount); font-size: 16px; display: block; width: 30px; line-height: 30px; margin: 0 auto 25px; font-weight: 700; color: white; background-color: #0fb4da; border-radius: 100%;}
.productsArea .appArea ol li:not(:last-child)::after{content: ''; position: absolute; right: -7.5px; top: 53%; width: 15px; height: 30px; background: url('../images/product_nextIcon.png') no-repeat center / cover;}
.productsArea .appArea ol li .downArea{margin-top: 40px; padding-top: 110px; padding-left: 40px; background: url('../images/product_appImg01.png') no-repeat center top;}
.productsArea .appArea ol li .downArea a{display: flex; align-items: center; font-size: 15px; font-weight: 700; color: #8d8d8d;}
.productsArea .appArea ol li .downArea a::before{content: ''; width: 23px; height: 23px; background-repeat: no-repeat; background-position: center; background-size: cover; margin-right: 5px;}
.productsArea .appArea ol li .downArea a:nth-of-type(1):before{background-image: url('../images/product_appIcon01.png');}
.productsArea .appArea ol li .downArea a:nth-of-type(2):before{background-image: url('../images/product_appIcon02.png');}
.productsArea .appArea ol li .downArea a:not(:last-of-type){margin-bottom: 8px;}
.productsArea .appArea ol li:not(:first-child){background-repeat: no-repeat; background-position: center bottom;}
.productsArea .appArea ol li:nth-child(2){background-image: url('../images/product_appImg02.png');}
.productsArea .appArea ol li:nth-child(3){background-image: url('../images/product_appImg03.png');}
.productsArea .appArea ol li:nth-child(4){background-image: url('../images/product_appImg04.png');}

.productsArea .resourceArea{padding: 100px 0;}
.productsArea .resourceArea > div h2{margin-bottom: 20px;}
.productsArea .resourceArea > div ul{border-top: 2px solid black;}
.productsArea .resourceArea > div ul li{border-bottom: 1px solid #c6c6c6;}
.productsArea .resourceArea > div ul li a{display: block; font-size: 24px; font-weight: 700; line-height: 90px; background-repeat: no-repeat; background-position: right 15px center; }
.productsArea .resourceArea > div ul li:nth-child(1) a{background-image: url('../images/product_resourcIcon01.png');}
.productsArea .resourceArea > div ul li:nth-child(2) a{background-image: url('../images/product_resourcIcon02.png');}

.productsArea .infoArea h2{margin-bottom: 100px;}
.productsArea .infoArea figure img{width: 100%; margin-bottom: 75px;}
.productsArea .infoArea figure figcaption div{padding-bottom: 55px; margin-bottom: 55px; border-bottom: 1px solid #cccccc;}
.productsArea .infoArea figure figcaption div::after{content: ''; display: block; clear: both;}
.productsArea .infoArea figure figcaption div table{float: left; font-size: 18px; border-top: 4px solid black;}
.productsArea .infoArea figure figcaption div table:nth-of-type(2n + 1){width: 300px;}
.productsArea .infoArea figure figcaption div table:nth-of-type(2){width: 510px; margin: 0 55px;}
.productsArea .infoArea figure figcaption div table thead{border-bottom: 1px solid black;}
.productsArea .infoArea figure figcaption div table thead th{/* font-size: 18px; */ line-height: 80px; font-weight: 700; color: #333333;}
.productsArea .infoArea figure figcaption div table tbody{text-align: left;}
.productsArea .infoArea figure figcaption div table tbody tr{/* font-size: 18px;  */line-height: 70px; }
.productsArea .infoArea figure figcaption div table tbody tr th{padding: 0 20px; font-weight: 800;}

.productsArea .certifiedArea{padding-bottom: 230px;}
.productsArea .certifiedArea > div h2{margin-bottom: 60px; }
.productsArea .certifiedArea > div ul{padding-bottom: 50px; border-bottom: 1px solid #c4c6c8; margin-bottom: 55px;}
.productsArea .certifiedArea > div ul::after{content: ''; display: block; clear: both;}
.productsArea .certifiedArea > div ul li{float: left; width: 32%; padding: 190px 0 45px; background-color: white; background-repeat: no-repeat; background-position: center; background-size: cover;}
.productsArea .certifiedArea > div ul li:nth-child(1){background-image: url('../images/product_certifiedLogo01.png');}
.productsArea .certifiedArea > div ul li:nth-child(2){background-image: url('../images/product_certifiedLogo02.png');}
.productsArea .certifiedArea > div ul li:nth-child(3){background-image: url('../images/product_certifiedLogo03.png');}
.productsArea .certifiedArea > div ul li:nth-child(4){background-image: url('../images/product_certifiedLogo04.png');}
.productsArea .certifiedArea > div ul li:nth-child(5){background-image: url('../images/product_certifiedLogo05.png');}
.productsArea .certifiedArea > div ul li:nth-child(6){background-image: url('../images/product_certifiedLogo06.png');}
.productsArea .certifiedArea > div ul li:nth-child(7){background-image: url('../images/product_certifiedLogo07.png');}
.productsArea .certifiedArea > div ul li:nth-child(8){background-image: url('../images/product_certifiedLogo08.png');}
.productsArea .certifiedArea > div ul li:not(:nth-child(-n + 3)){margin-top: 2%;}
.productsArea .certifiedArea > div ul li:not(:nth-child(3n)){margin-right: 2%;}
.productsArea .certifiedArea > div ul li dl{font-size: 18px; font-weight: 700; text-align: center;} 
.productsArea .certifiedArea > div ul li dl dt{margin-bottom: 10px;}
.productsArea .certifiedArea > div > p{font-size: 12px; color: #1c1c1e; text-align: left;}
.productsArea .certifiedArea > div > p:not(:last-of-type){margin-bottom: 24px;}