[data-scroll]:not([data-scroll$="Area"]){ transition-duration: 0.5s; transition-property: transform , opacity;}
[data-scroll="top"]{transform: translateY(100px); opacity: 0;}
[data-scroll="top"].scrollEvent{transform: translateY(0); opacity: 1;}
[data-scroll="left"]{transform: translateX(-100px); opacity: 0;}
[data-scroll="left"].scrollEvent{transform: translateX(0); opacity: 1;}
[data-scroll="right"]{transform: translateX(100px); opacity: 0;}
[data-scroll="right"].scrollEvent{transform: translateX(0); opacity: 1;}

[data-scroll$="Area"] > *{transition-duration: 0.5s; transition-property: transform , opacity; opacity: 0;}
[data-scroll$="Area"].scrollEvent > *{opacity: 1;}
[data-scroll="topArea"] > *{transform: translateY(100px);}
[data-scroll="topArea"].scrollEvent > *{transform: translateY(0);}
[data-scroll="leftArea"] > *{transform: translateX(-100px); opacity: 0;}
[data-scroll="leftArea"].scrollEvent > *{transform: translateX(0);}


/* 메인 페이지 */
.mainPage main{height: 100vh;  position: relative; z-index: 20; pointer-events: none;}
.mainPage main > div.contentsArea{height: 100%; position: relative; left: 0; transition: 1s left; transition-delay: 0.6s; transition-timing-function: cubic-bezier(.19,1,.22,1);}
.mainPage main > div.contentsArea.startAni{left: -300px;}
.mainPage main > div.contentsArea > *{display: flex; justify-content: center; align-items: center;  width: 100%; height: 100%; padding: calc(6.9370vh + 22px) 0 calc(4.8025vh + 19.7438vh); box-sizing: border-box;}
.mainPage main > div.contentsArea > * > *{pointer-events: all;}
.mainPage main .contentArea{display: flex; align-items: flex-start; width: 100%; position: relative;}
/* .mainPage main .contentArea > *:not(:last-child){margin-right: 140px;} */
.mainPage main .contentArea .pageArea{ display: flex; margin-right: 140px;}
.mainPage main .contentArea .pageArea span{font-size: 18px; font-weight: 900;}
.mainPage main .contentArea .pageArea span:first-child{display: flex; align-items: center;}
.mainPage main .contentArea .pageArea span:first-child::after{content: ''; width: 40px; height: 1px; background-color: #d8d8d9; margin: 0 15px;}
.mainPage main .contentArea .pageArea span:nth-child(2){color: #d8d8d9;}
.mainPage main h2{font-size: 48px; line-height: 60px; margin-bottom: 70px;}
.mainPage main p{font-size: 19px; line-height: 28px;}

.mainPage main .fullPagelist{position: fixed; left: 50px; top: 0; height: 100%; display: flex; flex-direction: column; justify-content: center; z-index: 99;}
.mainPage main .fullPagelist li{width: 13px; height: 13px; border-radius: 100%; background-color: black; opacity: 0.2; text-indent: -9999px; transition: 0.5s opacity; pointer-events: all; cursor: pointer;}
.mainPage main .fullPagelist li:not(:last-child){margin-bottom: 15px;}
.mainPage main .fullPagelist li.active{opacity: 1;}

/* 메인페이지 - 첫번째 화면 */
.mainPage main .monitorArea h2 div{width: 553px; height: 75px; background-image: url('../images/S-PATCHEX01.png'); background-repeat: no-repeat; text-indent: -9999px; margin-top: 15px;}
.mainPage main .monitorArea .contentArea ol{position: relative; flex: 1; z-index: 1;}
.mainPage main .monitorArea .contentArea ol li{display: block; width: 100%; opacity: 0;  position: absolute; left: 0; top: 0; z-index: -1;}
.mainPage main .monitorArea .contentArea ol li.active{display: block; position: static; opacity: 1; z-index: 1; transition: 0.5s opacity;}
.mainPage main .monitorArea .contentArea ol li p{color: #3a3a40; margin-bottom: 60px;}
.mainPage main .monitorArea .contentArea ol li a{font-size: 14px; font-weight: 900; color: #3a3a40; padding-bottom: 11px; position: relative;}
.mainPage main .monitorArea .contentArea ol li a::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color:#3a3a40;}
.mainPage main .monitorArea .contentArea ol li a::before{content: ''; position: absolute; left: 50%; bottom: 0; width: 0; height: 1px; background-color:#3a3a40;}
.mainPage main .monitorArea .contentArea ol li a:hover::after{display: none;}
.mainPage main .monitorArea .contentArea ol li a:hover::before{left: 0; width: 100%; transition: 0.5s left, 0.5s width;}
/* 메인페이지 - 첫번째 화면 event*/
.mainPage main .monitorArea .contentArea ol li:first-child .eventBox{position: absolute; right: 0; bottom: -50%; pointer-events: none; }
.mainPage main .monitorArea .contentArea ol li:first-child.active .eventBox{pointer-events: all;}
.mainPage main .monitorArea .contentArea ol li:first-child.active .eventBox .imgBox {position: absolute;  right: -90px; opacity: 0;  z-index: 102; bottom: -500px;  animation: mainFirst01 1s forwards;}
.mainPage main .monitorArea .contentArea ol li:first-child .eventBox div.textBox{position: relative; z-index: 1; font-size: 14px; line-height: 24px; width: 260px; padding: 30px 20px; box-sizing: border-box; color: white; background-color: rgba(11, 175, 212, 0.6); opacity: 0; left: 100px; transition-duration: 0.5s; transition-property: left , opacity;}
.mainPage main .monitorArea .contentArea ol li:first-child.active .imgBox:hover + .textBox{opacity: 1; left: 0;}
@keyframes mainFirst01 {
    0%{bottom: -500px; opacity: 0;}
    50%{opacity: 1;}
    100%{bottom: -125px; opacity: 1;}
}
.mainPage main .monitorArea .contentArea ol li:first-child.active .eventBox .imgBox img{position: relative; animation: mainFirst02 1s linear 1s infinite alternate; }
@keyframes mainFirst02 {
    0%{bottom: 0;}
    100%{bottom: -25px;}
}
.mainPage main .monitorArea .contentArea ol li:first-child.active .eventBox .imgBox.startAni{animation-name: none;}

/* 메인페이지 - 두번째 화면 event*/
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox{position: absolute; bottom: 0; left: -325px; width: 100%;  display: flex; justify-content: space-between;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div{width: 50vw; height: 227px; position: absolute; top: -113.5px; transition-duration: 0.5s; transition-property: right , left;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div::before ,.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div::after{
    content: ''; height: 100%; position: absolute; top: 0; 
}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div:first-child{right: 200%;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div:first-child::before{position: absolute; right: 0;  width: 278px; background: url('../images/main_secondImg01_1.png') no-repeat left top;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div:first-child::after{position: absolute; right: 278px; width: 50vw; background: url('../images/main_secondImg01_2.png') repeat-x left top;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div:last-child{left: 180%;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div:last-child::before{position: absolute; left: 0; width: 278px; background: url('../images/main_secondImg02_1.png') no-repeat left top;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2) .eventBox div:last-child::after{position: absolute; left: 278px; width: 50vw; background: url('../images/main_secondImg01_2.png') repeat-x left top 12px / 28px;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2).active .eventBox div:first-child{right: 100%;}
.mainPage main .monitorArea .contentArea ol li:nth-child(2).active .eventBox div:last-child{left: 80%;}

.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox{width: 650px; overflow: hidden;}
.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div{width: 300vw; position: relative; left: 0;}
.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div::after{content: ''; display: block; clear: both;}
.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div p{float: left; position: relative; opacity: 0.4; cursor: pointer;}
.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div p.active{opacity: 1; cursor: auto;}
.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div p:not(:last-child){margin-right: 80px;}
.mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div p button{text-indent: -9999px; position: absolute; right: -40px; top: 0; width: 13px; height: 10px; background: url('../images/nextIcon.png') no-repeat center / cover;}
/* .mainPage main > div .monitorArea > div .contentArea ol li:nth-child(2) .scrollBox div p:last-child button{display: none;} */

/* 메인페이지 - 세번째 화면 event*/
.mainPage main .monitorArea .contentArea ol li:nth-child(3) .eventBox{position: absolute; right: -80px; /* top: 100px; */ bottom: -100vh; width: 790px; height: 730px; background: url('../images/main_thirdImg.png') no-repeat center / cover; pointer-events: none; opacity: 0; transition-duration: 0.5s; transition-property: opacity , bottom;}
.mainPage main .monitorArea .contentArea ol li:nth-child(3).active .eventBox{opacity: 1; /* top: -215px; */}

/* 마우스휠을 돌려주세요 */
.mainPage .scrollIcon{position: fixed; top: 70%; left: -10px; font-size: 12px; font-weight: 600; display: inline-flex; align-items: center; transform: rotate(-90deg);}
.mainPage .scrollIcon div{text-indent: -9999px; width: 65px; height: 1px;  margin-right: 30px; position: relative; overflow: hidden;}
.mainPage .scrollIcon div::before{content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: black; animation: 3s linear infinite scroll-line-animation;}
@keyframes scroll-line-animation {
    0% {
        transform: translate3d(100%, 0, 0)
    }
    25%,
    to {
        transform: translate3d(-100%, 0, 0)
    }
}

/* .mainPage .scrollIcon div::after{content: ''; position: absolute; left: calc(50% - 1px); top: 10px; width: 2px; height: 4px; background-color: black; 
    animation: scrollIcon 1s linear infinite alternate;    
}
@keyframes scrollIcon {
    0%{top: 8px;}
    100%{top: 13px;}
}
 */
.mainPage.BGActive main .monitorArea h2 div{background-image: url('../images/S-PATCHEX02.png');}
.mainPage.BGActive{background-color: #73e5ff;  transition-duration: 0.5s; transition-property: background-color;}
/* .mainPage.BGActive main .monitorArea .pageArea span:first-child::after{background-color: black;} */
.mainPage.BGActive > div header > div > nav{border-color: black;}

/* 메인페이지 - 두번째 화면 */
.mainPage main div.videoArea{position: fixed; z-index: 11; left: 100%; top: 0; width: 100%;  height: 100%; background-color: rgba(0, 0, 0, 0.7); transition: 0.5s left;}
.mainPage main div.videoArea > div{ position: relative; z-index: 20; height: 100%; display: flex; align-items: flex-end; justify-content: center; opacity: 0; }
.mainPage main div.videoArea > div img{width: 100%; cursor: pointer; position: relative; z-index: 20;} 
.mainPage main div.videoArea > div iframe{width: 100%; height: calc(100% - 60px);}
.mainPage main div.videoArea > div video{width: 80%; height: calc(100% - 60px);}
.mainPage main div.videoArea.active{left: 0;}
.mainPage main div.videoArea.active > div{opacity: 1; transition: 0.5s opacity 0.5s;}

/* 메인페이지 - 세번째 화면 */
.mainPage main .careArea{position: fixed; z-index: -10; left: 0; top: 0; width: 100%;  height: 100%; color: white; background: url('../images/mainBG01.png') no-repeat center / cover;  opacity: 0; transition-duration: 0.5s ,0s; transition-delay: 0.3s, 0.8s; transition-property: opacity , z-index;}
.mainPage main .careArea.active{opacity:1; z-index: 12; transition-duration: 0.5s; transition-property: opacity; transition-delay: 0s;}
.mainPage main .careArea h2{font-weight: 700; opacity: 0; transform: translateX(100px); transition-duration: 0.5s; transition-property: opacity , transform;}
.mainPage main .careArea p{font-weight: 300; opacity: 0; transform: translateX(100px);  transition-duration: 0.5s; transition-property: opacity , transform;}
.mainPage main .careArea .pageArea{opacity: 0; transform: translateX(100px);  transition-duration: 0.5s; transition-property: opacity , transform;}
.mainPage main .careArea.active h2{opacity: 1; transform: translateX(0); transition-delay: 0.2s;}
.mainPage main .careArea.active p{opacity: 1; transform: translateX(0);  transition-delay: 0.6s;}
.mainPage main .careArea.active .pageArea{opacity: 1; transform: translateX(0);  transition-delay: 0.4s;}



/* 서브페이지 */
.subPage main{ margin-top: 100px; margin-bottom: 616px; position: relative; z-index: 2; background-color: white;}
.subPage main.aboutUsArea{padding-bottom:200px;}
.subPage main.supportsArea{}
.subPage main.customresArea{ padding-bottom:200px;}
/* .aboutUsArea{padding-top: 135px; padding-bottom:200px;} */

.subPage main .subTitlaBox{height: 380px; display: flex; flex-direction: column; justify-content: center; align-items: center;  background-repeat: no-repeat; background-position: center; background-size: cover;}
.subPage main .subTitlaBox h3{font-size: 48px; font-weight: 900; margin-bottom: 30px;}
.subPage main .subTitlaBox p{font-size: 15px; font-weight: 300;}

.subPage main.aboutUsArea .subTitlaBox{background-image: url('../images/aboutUs_titleBG.png'); color: white; margin-bottom: 30px;}
.subPage main.supportsArea .subTitlaBox{background-color: #f7f8fc; margin-bottom: 90px;}

/* .subPage h2{font-size: 60px; font-weight: 900; margin-bottom: 60px;} */

.subPage .subMenu{display: flex; margin-bottom: 110px;}
.subPage .subMenu li:not(:last-child){margin-right: 35px;}
.subPage .subMenu li a{font-size: 18px; font-weight: 500; padding-bottom: 15px; position: relative;}
.subPage .subMenu li a::after{content: ''; position: absolute; left: 50%; bottom: 0; width: 0; height: 2px; background-color: black;}
.subPage .subMenu li.active a::after , .subPage main .subMenu li:hover a::after {left: 0; width: 100%;}
.subPage .subMenu li:hover a::after{transition-duration: 0.5s; transition-property: left , width;}
.subPage .subMenu + div > strong:not([lang="en"]){display: block; font-size: 42px; font-weight: 700; line-height: 54px; margin-bottom: 55px;}
.subPage .subMenu + div > strong[lang="en"]{display: block; font-size: 48px; font-weight: 900;}

.subPage .subPageName{font-size: 12px; font-weight: 700; color: #33475b; text-transform: uppercase; margin-bottom: 100px;}
.subPage .subPageName + div > strong:not([lang="en"]){display: block; font-size: 42px; font-weight: 700; line-height: 54px; margin-bottom: 55px;}
.subPage .subPageName + div > strong[lang="en"]{display: block; font-size: 48px; font-weight: 900;}


/* about as - helthCare */
.helthCareArea::after{content: ''; display: block; height: 470px; background: url('../images/aboutUs_helthCareImg02.png') no-repeat center / cover;  margin: 0 auto;}
.helthCareArea .contentArea{background: url('../images/aboutUs_helthCareImg01.png') no-repeat right top;}
.helthCareArea .contentArea strong{margin-bottom: 60px;}
.helthCareArea .contentArea p{font-size: 15px; line-height: 28px; color: #565656; text-transform: uppercase; margin-bottom: 150px;}
.helthCareArea .contentArea q{display: block; font-family: 'Libre Baskerville', serif; font-size: 28px; line-height: 48px; margin-bottom: 190px;}

/* about as - location */
.locationArea .contentArea .locationBox{margin-bottom: 45px; }
.locationArea .contentArea .locationBox iframe{width: 100%; height: 600px;}
.locationArea .contentArea .textBox{padding-bottom: 50px; border-bottom: 1px solid #8e8e8e;}
.locationArea .contentArea .textBox h4{font-size: 36px; color: #3a3a40; margin-bottom: 45px; text-transform: uppercase;}
.locationArea .contentArea .textBox ul li ,.locationArea .contentArea .textBox ul li a{font-size: 14px;}
.locationArea .contentArea .textBox ul li:not(:last-child){margin-bottom: 20px;}

/* about as - news */
.newsArea .contentArea .newsList li:not(:last-child){margin-bottom: 80px;}
.newsArea .contentArea .newsList li figure{display: flex;}
.newsArea .contentArea .newsList li figure img{width: 350px; border: 1px solid #e5e5e5; margin-right: 30px;}
.newsArea .contentArea .newsList li figure figcaption{position: relative; padding-bottom: 15px;}
.newsArea .contentArea .newsList li figure figcaption b{display: block; font-size: 14px; font-weight: 600; margin-bottom: 20px;}
.newsArea .contentArea .newsList li figure figcaption b time{font-family: 'Noto Sans KR',sans-serif; font-weight: 600;}
.newsArea .contentArea .newsList li figure figcaption b time::before{content: '| ';}
.newsArea .contentArea .newsList li figure figcaption h4{font-size: 24px; font-weight: 700; margin-bottom: 25px;}
.newsArea .contentArea .newsList li figure figcaption p{font-size: 14px; line-height: 24px;}
.newsArea .contentArea .newsList li figure figcaption a{position: absolute; left: 0; bottom: 0; font-size: 14px; color: #00b3e3;}

/* about as - detail */
.detailArea .contentArea > div{ padding-bottom: 80px;}
.detailArea .contentArea > div h4{font-size: 42px; font-weight: 800; margin-bottom: 30px;}
.detailArea .contentArea > div b{font-size: 14px; font-weight: 800; display: flex; margin-bottom: 80px;}
.detailArea .contentArea > div b time{font-weight: 800;  margin-left: 20px; padding-left: 20px; border-left: 1px solid black;}
.detailArea .contentArea > div img{ margin-bottom: 70px; display: block;}
.detailArea .contentArea > div p{font-size: 16px; line-height: 28px;}
.detailArea .contentArea > ul{border-bottom: 1px solid black; margin-bottom: 60px;}
.detailArea .contentArea > ul li{border-top: 1px solid #d9d9d9;}
.detailArea .contentArea > ul li a{display: block; line-height: 60px; font-size: 14px;}
.detailArea .contentArea > ul li a strong{font-weight: 700; margin-right: 10px;}
.detailArea .contentArea > a{width: 260px; line-height: 60px; font-size: 20px; color: white; font-weight: 700; text-align: center; display: block; margin: 0 auto; background-color: #1c75c7; border-radius: 100px;}


/* about as - careers */
.careersArea .contentArea strong{margin-bottom: 30px;}
.careersArea .contentArea p{font-size: 15px; line-height: 28px; color: #565656;}


/* products */
/* products 공통*/
.productsArea .case01{padding-top: 130px; text-align: center;}
.productsArea .case01 h2{font-size: 48px; font-weight: 700;}
.productsArea .case01 h2 small{display: block; font-size: 18px; font-weight: 900; color: #0fb4da; text-transform: uppercase; margin-bottom: 65px;}

.productsArea .case02 h2{font-size: 20px; font-weight: 700; color: #1c1c1e;}

.productsArea .BGcolor{background-color: #f5f8fa;}


.productsArea .topArea{background: url('../images/product_topBG.png') no-repeat center / cover;}
.productsArea .topArea > div{padding: 150px 0 240px; position: relative;}
.productsArea .topArea > div h2{max-width: 402px; margin-bottom: 100px;}
.productsArea .topArea > div h2 img{width: 100%;}
.productsArea .topArea > div strong{font-size: 42px; display: block; margin-bottom: 30px;}
.productsArea .topArea > div p{font-size: 18px; line-height: 30px; color: #565656;} 
.productsArea .topArea > div > img{position: absolute; right: -135px; top: 0;}

.productsArea > div:first-of-type{padding: 50px 0; background-color: #042127;}
.productsArea > div:first-of-type ul{display: flex; justify-content: space-between;}
.productsArea > div:first-of-type ul li{text-align: center; color: white;}
.productsArea > div:first-of-type ul li strong{font-size: 55px; display: block; margin-bottom: 25px;}
.productsArea > div:first-of-type ul li strong small{font-size: 30px;}
.productsArea > div:first-of-type ul li P{font-size: 15px;}

.productsArea .detailArea > h2{margin-bottom: 40px;}
.productsArea .detailArea > p{font-size: 24px; line-height: 36px; color: #1c1c1e; margin-bottom: 105px;}
.productsArea .detailArea > div{background-color: #f8f8f8; padding: 165px 0;}
.productsArea .detailArea > div > ul{display: flex; justify-content: flex-end; text-align: left; position: relative;}
.productsArea .detailArea > div > ul::before{content: ''; position: absolute; left: -50px; bottom: -15px; width: 313px; height: 513px; background: url('../images/product_detailImg01.png') no-repeat center / cover; z-index: 1;}
.productsArea .detailArea > div > ul::after{content: ''; position: absolute; left: 180px; top: 50%; width:70px; height: 3px; background: url('../images/product_detailBGImg01.png') no-repeat left center / cover; z-index: 2;}
.productsArea .detailArea > div > ul > li{width: 290px; padding: 60px 40px 32px; display: flex; flex-direction: column; border: 1px solid #b8b8b8; border-radius: 10px; box-sizing: border-box; background-repeat: no-repeat; background-position: center top 105px; background-size: 100%; position: relative;}
.productsArea .detailArea > div > ul > li::after{content: ''; position: absolute; top: 17px; left: calc(50% - 23.5px); width: 47px; height: 8px; border-radius: 10px;}
.productsArea .detailArea > div > ul > li:not(:first-child):before{content: ''; position: absolute; left: -50px; top: 50%; width:50px; height: 3px; background: url('../images/product_detailBGImg02.png') no-repeat center / cover;}
.productsArea .detailArea > div > ul > li:first-child:after{background-color: #9ce9fb;}
.productsArea .detailArea > div > ul > li:not(:first-child)::after{background-color: #89c2f7;}
.productsArea .detailArea > div > ul > li:nth-child(1){background-image: url('../images/product_detailBG01.png');}
.productsArea .detailArea > div > ul > li:nth-child(2){background-image: url('../images/product_detailBG02.png');}
.productsArea .detailArea > div > ul > li:nth-child(3){background-image: url('../images/product_detailBG03.png');}
.productsArea .detailArea > div > ul > li:not(:last-child){margin-right: 50px;}
.productsArea .detailArea > div > ul > li h3{font-size: 22px; margin-bottom: 160px;}
.productsArea .detailArea > div > ul > li p{font-size: 16px; line-height: 26px;}
.productsArea .detailArea > div > ul > li p:not(:last-of-type){margin-bottom: 30px;}
.productsArea .detailArea > div > ul > li p:last-of-type{margin-bottom: 50px;}
.productsArea .detailArea > div > ul > li ul{display: flex; justify-content: space-between;}
.productsArea .detailArea > div > ul > li ul li{width: calc((100% - 5px) / 2);}
.productsArea .detailArea > div > ul > li ul li img{width: 100%;}
.productsArea .detailArea > div > ul > li:first-child{color: white; background-color: #0fb4da;}
.productsArea .detailArea > div > ul > li:not(:first-child){background-color: white;}
.productsArea .detailArea > div > ul > li:not(:first-child) h3{color: #1c75c7;}
.productsArea .detailArea > div > ul > li:not(:first-child) p{color: #818181;}

.productsArea .functionArea{padding: 180px 0; position: relative;}
/* .productsArea .functionArea::after{content: ''; position: absolute; right: -110px; bottom: 0; width: 550px; height: 784px; background: url('../images/product_functionImg01.png') no-repeat center / cover;} */
.productsArea .functionArea > img{position: absolute; right: -110px; bottom: 0; }
.productsArea .functionArea ul li{padding-left: 70px; position: relative;}
.productsArea .functionArea ul li::before{content: ''; position: absolute; left: 0; top: -20px; width: 57px; height: 57px; background-repeat: no-repeat; background-position: center; background-size: cover;}
.productsArea .functionArea ul li:nth-child(1):before{background-image: url('../images/product_functionIcon01.png');}
.productsArea .functionArea ul li:nth-child(2):before{background-image: url('../images/product_functionIcon02.png');}
.productsArea .functionArea ul li:nth-child(3):before{background-image: url('../images/product_functionIcon03.png');}
.productsArea .functionArea ul li:nth-child(4):before{background-image: url('../images/product_functionIcon04.png');}
.productsArea .functionArea ul li:nth-child(5):before{background-image: url('../images/product_functionIcon05.png');}
.productsArea .functionArea ul li:not(:last-child){margin-bottom: 40px;}
.productsArea .functionArea ul li strong{font-size: 19px; font-weight: 700; color: #1c1c1e; display: block; margin-bottom: 15px;}
.productsArea .functionArea ul li p{font-size: 17px; line-height: 20px; color: #8d8d8d;}

.productsArea .introArea{overflow: hidden;}
.productsArea .introArea{padding: 125px 0;}
.productsArea .introArea > div h2{margin-bottom: 50px;}
.productsArea .introArea > div > div{display: flex; align-items: flex-end;}
.productsArea .introArea > div > div > *{flex: 1;}
.productsArea .introArea > div > div div.videoBox{margin-right: 55px;}
.productsArea .introArea > div > div div.videoBox video{width: 100%;}
.productsArea .introArea > div > div div.textBox p{font-size: 20px; line-height: 30px; margin-bottom: 50px;}
.productsArea .introArea > div > div div.textBox button{display: flex; align-items: center; font-size: 20px; color: #0fb4da;}
.productsArea .introArea > div > div div.textBox button::before{content: ''; width: 18px; height: 18px; background: url('../images/product_videoIcon.png') no-repeat center / cover; margin-right: 10px;}
.productsArea .introArea .videoPopup{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 10;}
.productsArea .introArea .videoPopup div{position: absolute; width: 80%; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
.productsArea .introArea .videoPopup div video{width: 100%;}
.productsArea .introArea .videoPopup div span{position: absolute; right: 0; top: -25px; font-size: 25px; background-color: black; color: white; cursor: pointer;}

.productsArea .testimonialArea{padding: 100px 0 140px; background: url('../images/testimonialBG.png') no-repeat center / cover;}
.productsArea .testimonialArea > div h2{font-size: 48px; font-weight: 700; color: white; margin-bottom: 85px;}
.productsArea .testimonialArea > div > div.slideBox{width: 945px; height: 450px;/*  background-color: white; */ margin-left: auto;}
.productsArea .testimonialArea > div > div.slideBox .bx-wrapper{height: 100%; border: none; margin: 0; box-shadow: none;}
.productsArea .testimonialArea > div > div.slideBox .bx-viewport{height: 100%;}
.productsArea .testimonialArea > div > div.slideBox .slider div{height: 100%; padding: 70px 90px 70px 90px;}
.productsArea .testimonialArea > div > div.slideBox .slider div P{font-size: 23px; font-weight: 700; line-height: 36px; padding-top: 100px; margin-bottom: 20px;}
.productsArea .testimonialArea > div > div.slideBox .slider div P:first-of-type{position: relative;}
.productsArea .testimonialArea > div > div.slideBox .slider div P:first-of-type::before{content: ''; position: absolute; left: 0; top: 0; width: 25px; height: 4px; background-color: black;}
.productsArea .testimonialArea > div > div.slideBox .slider div small{font-size: 14px; font-weight: 500;}
.productsArea .testimonialArea > div > div.slideBox .bx-controls-direction a{top: auto; bottom: 70px;}
.productsArea .testimonialArea > div > div.slideBox .bx-prev ,.productsArea .testimonialArea > div > div.slideBox .bx-next{
    background: none; text-indent: 0; font-size: 50px;
}
.productsArea .testimonialArea > div > div.slideBox .bx-prev{left: auto; right: 200px;}
.productsArea .testimonialArea > div > div.slideBox .bx-next{right: 100px; }
.productsArea .testimonialArea > div > div.slideBox .bx-wrapper .bx-pager,
.productsArea .testimonialArea > div > div.slideBox .bx-wrapper .bx-controls-auto{
    width: auto; bottom: auto; top: 140px; left: 90px; padding-top: 0;
}

.productsArea .appArea{margin-bottom: 100px;}
.productsArea .appArea h2{margin-bottom: 165px;}
.productsArea .appArea ol{display: flex;}
.productsArea .appArea ol li{flex: 1; counter-increment: appCount; font-size: 24px; color: #1c1c1e; padding-bottom: 25px; position: relative;}
.productsArea .appArea ol li::before{content: counter(appCount); font-size: 16px; display: block; width: 30px; line-height: 30px; margin: 0 auto 25px; font-weight: 700; color: white; background-color: #0fb4da; border-radius: 100%;}
.productsArea .appArea ol li:not(:last-child)::after{content: ''; position: absolute; right: -7.5px; top: 53%; width: 15px; height: 30px; background: url('../images/product_nextIcon.png') no-repeat center / cover;}
.productsArea .appArea ol li .downArea{margin-top: 40px; padding-top: 110px; padding-left: 40px; background: url('../images/product_appImg01.png') no-repeat center top;}
.productsArea .appArea ol li .downArea a{display: flex; align-items: center; font-size: 15px; font-weight: 700; color: #8d8d8d;}
.productsArea .appArea ol li .downArea a::before{content: ''; width: 23px; height: 23px; background-repeat: no-repeat; background-position: center; background-size: cover; margin-right: 5px;}
.productsArea .appArea ol li .downArea a:nth-of-type(1):before{background-image: url('../images/product_appIcon01.png');}
.productsArea .appArea ol li .downArea a:nth-of-type(2):before{background-image: url('../images/product_appIcon02.png');}
.productsArea .appArea ol li .downArea a:not(:last-of-type){margin-bottom: 8px;}
.productsArea .appArea ol li:not(:first-child){background-repeat: no-repeat; background-position: center bottom;}
.productsArea .appArea ol li:nth-child(2){background-image: url('../images/product_appImg02.png');}
.productsArea .appArea ol li:nth-child(3){background-image: url('../images/product_appImg03.png');}
.productsArea .appArea ol li:nth-child(4){background-image: url('../images/product_appImg04.png');}

.productsArea .resourceArea{padding: 100px 0;}
.productsArea .resourceArea > div h2{margin-bottom: 20px;}
.productsArea .resourceArea > div ul{border-top: 2px solid black;}
.productsArea .resourceArea > div ul li{border-bottom: 1px solid #c6c6c6;}
.productsArea .resourceArea > div ul li a{display: block; font-size: 24px; font-weight: 700; line-height: 90px; background-repeat: no-repeat; background-position: right 15px center; }
.productsArea .resourceArea > div ul li:nth-child(1) a{background-image: url('../images/product_resourcIcon01.png');}
.productsArea .resourceArea > div ul li:nth-child(2) a{background-image: url('../images/product_resourcIcon02.png');}

.productsArea .infoArea h2{margin-bottom: 100px;}
.productsArea .infoArea figure img{width: 100%; margin-bottom: 75px;}
.productsArea .infoArea figure figcaption div{padding-bottom: 55px; margin-bottom: 55px; border-bottom: 1px solid #cccccc;}
.productsArea .infoArea figure figcaption div::after{content: ''; display: block; clear: both;}
.productsArea .infoArea figure figcaption div table{float: left; font-size: 18px; border-top: 4px solid black;}
.productsArea .infoArea figure figcaption div table:nth-of-type(2n + 1){width: 300px;}
.productsArea .infoArea figure figcaption div table:nth-of-type(2){width: 510px; margin: 0 55px;}
.productsArea .infoArea figure figcaption div table thead{border-bottom: 1px solid black;}
.productsArea .infoArea figure figcaption div table thead th{/* font-size: 18px; */ line-height: 80px; font-weight: 700; color: #333333;}
.productsArea .infoArea figure figcaption div table tbody{text-align: left;}
.productsArea .infoArea figure figcaption div table tbody tr{/* font-size: 18px;  */line-height: 70px; }
.productsArea .infoArea figure figcaption div table tbody tr th{padding: 0 20px; font-weight: 800;}

.productsArea .certifiedArea{padding-bottom: 230px;}
.productsArea .certifiedArea > div h2{margin-bottom: 60px; }
.productsArea .certifiedArea > div ul{padding-bottom: 50px; border-bottom: 1px solid #c4c6c8; margin-bottom: 55px;}
.productsArea .certifiedArea > div ul::after{content: ''; display: block; clear: both;}
.productsArea .certifiedArea > div ul li{float: left; width: 32%; padding: 190px 0 45px; background-color: white; background-repeat: no-repeat; background-position: center; background-size: cover;}
.productsArea .certifiedArea > div ul li:nth-child(1){background-image: url('../images/product_certifiedLogo01.png');}
.productsArea .certifiedArea > div ul li:nth-child(2){background-image: url('../images/product_certifiedLogo02.png');}
.productsArea .certifiedArea > div ul li:nth-child(3){background-image: url('../images/product_certifiedLogo03.png');}
.productsArea .certifiedArea > div ul li:nth-child(4){background-image: url('../images/product_certifiedLogo04.png');}
.productsArea .certifiedArea > div ul li:nth-child(5){background-image: url('../images/product_certifiedLogo05.png');}
.productsArea .certifiedArea > div ul li:nth-child(6){background-image: url('../images/product_certifiedLogo06.png');}
.productsArea .certifiedArea > div ul li:nth-child(7){background-image: url('../images/product_certifiedLogo07.png');}
.productsArea .certifiedArea > div ul li:nth-child(8){background-image: url('../images/product_certifiedLogo08.png');}
.productsArea .certifiedArea > div ul li:not(:nth-child(-n + 3)){margin-top: 2%;}
.productsArea .certifiedArea > div ul li:not(:nth-child(3n)){margin-right: 2%;}
.productsArea .certifiedArea > div ul li dl{font-size: 18px; font-weight: 700; text-align: center;} 
.productsArea .certifiedArea > div ul li dl dt{margin-bottom: 10px;}
.productsArea .certifiedArea > div > p{font-size: 12px; color: #1c1c1e; text-align: left;}
.productsArea .certifiedArea > div > p:not(:last-of-type){margin-bottom: 24px;}



/* supports */
/* .supportsArea > div:first-of-type{margin-bottom: 30px; background:url('../images/supports_BG.png') no-repeat right bottom;}
.supportsArea > div{ padding-bottom: 65px;} */
/* .supportsArea .subMenu + div{background:url('../images/supports_BG.png') no-repeat right bottom; padding-bottom: 65px;} */
/* .supportsArea .subMenu + div strong{margin-bottom: 50px;}
.supportsArea .subMenu + div p{font-size: 15px; line-height: 28px; color: #565656;}
.supportsArea .contentArea{padding: 100px 0; background-color: #f8f8f8;} */
.subPage main.supportsArea .subTitlaBox .searchBox{position: relative; margin-top: 50px;}
.subPage main.supportsArea .subTitlaBox .searchBox input[type="search"]{width: 555px; height: 66px; border: 1px solid #dedede; border-radius: 100px; padding: 0 50px;/*  box-sizing: border-box; */}
.subPage main.supportsArea .subTitlaBox .searchBox button{text-indent: -9999px; position: absolute; right: 0; top: 0px; width: 66px; height: 66px; background: url('../images/searchIcon.png') no-repeat center / cover;}

/* supports - FAQs*/
/* .FAQsArea .contentArea .tabBtn{display: flex; margin-bottom: 50px;}
.FAQsArea .contentArea .tabBtn li:not(:last-child){margin-right: 20px;}
.FAQsArea .contentArea .tabBtn li button{width: 280px; height: 50px; font-size: 18px; font-weight: 700; background-color: white}
.FAQsArea .contentArea .tabBtn li.active button{color: white; background-color: black;}

.FAQsArea .contentArea .tabArea > li{display: none;}
.FAQsArea .contentArea .tabArea > li.active{display: block;}
.FAQsArea .contentArea .tabArea > li ul{border-top: 1px solid black;}
.FAQsArea .contentArea .tabArea > li ul li{border-bottom: 1px solid black;}
.FAQsArea .contentArea .tabArea > li ul li > button{font-size: 16px; width: 100%; padding: 17px 20px; text-align: left; display: flex; justify-content: space-between; align-items: center;}
.FAQsArea .contentArea .tabArea > li ul li > button::after{content: ''; width: 10px; height: 8px; background: url('../images/supports_FAQsTabIcon.png') no-repeat center / cover; transition: 0.5s transform;}
.FAQsArea .contentArea .tabArea > li ul li.active > button::after{transform: rotate(180deg);}
.FAQsArea .contentArea .tabArea > li ul li > div{display: none; font-size: 14px; line-height: 18px; padding: 21px 20px; background-color: white;} */

.FAQsArea .contentArea .tabBtn{display: flex; justify-content: center; margin-bottom: 50px;}
.FAQsArea .contentArea .tabBtn li{border: 1px solid #dedede; border-radius: 5px;}
.FAQsArea .contentArea .tabBtn li:not(:last-child){margin-right: 10px;}
.FAQsArea .contentArea .tabBtn li button{width: 200px; height: 70px; font-size: 18px; font-weight: 700; color: #848484; }
.FAQsArea .contentArea .tabBtn li.active{border-color: #1c75c7;}
.FAQsArea .contentArea .tabBtn li.active button{color: #1c75c7;}

.FAQsArea .contentArea .tabContents ul{border-top: 1px solid #d9d9d9; margin-bottom: 110px;}
.FAQsArea .contentArea .tabContents ul li{display: flex; border-bottom: 1px solid #d9d9d9; padding: 24px 0;}
.FAQsArea .contentArea .tabContents ul li mark , .FAQsArea .contentArea .tabContents ul li div > *{line-height: 29px;}
.FAQsArea .contentArea .tabContents ul li mark{font-size: 12px; font-weight: 700; margin-right: 40px;}
.FAQsArea .contentArea .tabContents ul li div > *{padding-left: 80px; background-repeat: no-repeat; background-position: left center;}
.FAQsArea .contentArea .tabContents ul li div button{background-image: url('../images/QIcon.png');}
.FAQsArea .contentArea .tabContents ul li div p{display: none; background-image: url('../images/AIcon.png'); margin-top: 15px;}

.FAQsArea .contentArea .curiousArea{padding: 90px 0; background-color: #f7f8fc; color: #282828;}
.FAQsArea .contentArea .curiousArea div{text-align: center;}
.FAQsArea .contentArea .curiousArea div > *{display: block;}
.FAQsArea .contentArea .curiousArea div h4{font-size: 24px; margin-bottom: 60px;}
.FAQsArea .contentArea .curiousArea div button{font-size: 24px; font-weight: 900; color: white; text-align: center; width: 395px; height: 80px; margin: 0 auto; background-color: #1c75c7; border-radius: 100px; margin-bottom: 60px;}
.FAQsArea .contentArea .curiousArea div a{font-size: 18px; line-height: 24px;}
.FAQsArea .contentArea .curiousArea div a:last-of-type{margin-bottom: 30px;}
.FAQsArea .contentArea .curiousArea div p{font-size: 18px;}


/* supports - download */
.downloadArea .contentArea{padding-bottom: 90px;}
.downloadArea .contentArea ul::after{ content: ''; display: block; clear: both;}
.downloadArea .contentArea ul li{float: left; width: calc((100% - 150px) / 4);}
.downloadArea .contentArea ul li:not(:nth-child(4n)){margin-right: 50px;}
.downloadArea .contentArea ul li:not(:nth-child(-n + 4)){margin-top: 50px;}
.downloadArea .contentArea ul li img{width: 100%; border: 1px solid black; box-sizing: border-box; margin-bottom: 17px;}
.downloadArea .contentArea ul li p{font-size: 16px; font-weight: 700; margin-bottom: 20px;}
.downloadArea .contentArea ul li a{font-size: 14px; font-weight: bold; color: #0fb4da; display: inline-flex; align-items: center;}
.downloadArea .contentArea ul li a span{font-size: 20px;}


/* supports - contactUs */
.contactUsArea .contentArea{padding-bottom: 90px;}
.contactUsArea .contentArea fieldset{padding: 0 105px 0 70px;}
.contactUsArea .contentArea fieldset ul{padding-bottom: 45px; border-bottom: 1px solid #dcdfe1; margin-bottom: 45px;}
.contactUsArea .contentArea fieldset ul li::after{content: ''; display: block; clear: both;}
.contactUsArea .contentArea fieldset ul li:not(:last-child){margin-bottom: 30px;}
.contactUsArea .contentArea fieldset ul li > label{float: left; font-size: 20px; line-height: 50px; position: relative;}
.contactUsArea .contentArea fieldset ul li.required label::after{content: '*'; color: #0fb4da;}
.contactUsArea .contentArea fieldset ul li > *:not(label){float: right; width: 900px;}
.contactUsArea .contentArea fieldset ul li > label ~ *:not(div , mark){font-size: 18px; /* border: 1px solid #d1d1d1; */  margin: 0; box-sizing: border-box;}
.contactUsArea .contentArea fieldset ul li > label ~ *:not(div , mark , textarea){height: 50px; padding: 0 15px;}
.contactUsArea .contentArea fieldset ul li input ,
.contactUsArea .contentArea fieldset ul li textarea ,
.contactUsArea .contentArea fieldset ul li select ,
/* .contactUsArea .contentArea fieldset ul li > div div , */
.contactUsArea .contentArea fieldset ul li > div input[type="file"] ~ label,
.contactUsArea .contentArea fieldset ul li > div input[type="checkbox"] + label::before{
    border: 1px solid #d1d1d1;
}
.contactUsArea .contentArea fieldset ul li *::placeholder,.contactUsArea .contentArea fieldset ul li select{
    color: #a2a2a2;}
.contactUsArea .contentArea fieldset ul li > mark{font-size: 16px; margin-top: 12px;}
.contactUsArea .contentArea fieldset ul li textarea{height: 225px; padding: 15px; resize: none;}
.contactUsArea .contentArea fieldset ul li .fileArea{margin-bottom: 25px;}
.contactUsArea .contentArea fieldset ul li .fileArea::after{content: ''; display: block; clear: both;}
.contactUsArea .contentArea fieldset ul li .fileArea input[type="file"]{display: none;}
.contactUsArea .contentArea fieldset ul li .fileArea > *{float: left; /* border: 1px solid #d1d1d1; */ box-sizing: border-box;}
.contactUsArea .contentArea fieldset ul li .fileArea input{font-size: 18px; height: 50px; padding: 0 15px; width: 680px; margin-right: 5px; background-color: white;}
.contactUsArea .contentArea fieldset ul li .fileArea label{font-size: 20px; line-height: 48px; width: 215px; text-align: center; background-color: #1c75c7; color: white; }
/* .contactUsArea .contentArea fieldset ul li .agreementArea div{font-size: 18px; height: 170px;  background-color: white; padding: 20px 15px; box-sizing: border-box; overflow: auto; margin-bottom: 20px;}
.contactUsArea .contentArea fieldset ul li .agreementArea div strong{display: block; margin-bottom: 35px;}
.contactUsArea .contentArea fieldset ul li .agreementArea div p{line-height: 28px; color:#a2a2a2;}
.contactUsArea .contentArea fieldset ul li .agreementArea input[type="checkbox"]{display: none;}
.contactUsArea .contentArea fieldset ul li .agreementArea label{font-size: 18px; display: flex; align-items: center;}
.contactUsArea .contentArea fieldset ul li .agreementArea label:not(:last-of-type){margin-bottom: 10px;}
.contactUsArea .contentArea fieldset ul li .agreementArea label::before{content: ''; width: 25px; height: 25px; box-sizing: border-box; background-color: white; margin-right: 10px;}
.contactUsArea .contentArea fieldset ul li .agreementArea input[type="checkbox"]:checked + label::before{background:white url('../images/supports_contactUsChk.png') no-repeat center / cover;} */
.contactUsArea .contentArea fieldset ul li .agreementArea input[type="checkbox"]{display: none;}
.contactUsArea .contentArea fieldset ul li .agreementArea div{font-size: 18px; line-height: 32px; padding-left: 35px; letter-spacing: -1px; position: relative;}
.contactUsArea .contentArea fieldset ul li .agreementArea div:not(:last-of-type){margin-bottom: 15px;}
.contactUsArea .contentArea fieldset ul li .agreementArea div::before{content: ''; width: 25px; height: 25px; box-sizing: border-box; background-color: white; border: 1px solid #d1d1d1;  position: absolute; left: 0; top: 4px; }
.contactUsArea .contentArea fieldset ul li .agreementArea input[type="checkbox"]:checked + div::before{background:white url('../images/supports_contactUsChk.png') no-repeat center / cover;} 
.contactUsArea .contentArea fieldset ul li .agreementArea div p{margin-bottom: 15px;}
.contactUsArea .contentArea fieldset ul li .agreementArea div p label{font-weight: 700;}
.contactUsArea .contentArea fieldset ul li .agreementArea div table{font-size: 16px; border: 1px solid #d1d1d1;}
.contactUsArea .contentArea fieldset ul li .agreementArea div table th ,.contactUsArea .contentArea fieldset ul li .agreementArea div table td{padding-left: 20px; padding-right: 20px;}
.contactUsArea .contentArea fieldset ul li .agreementArea div table thead{}
.contactUsArea .contentArea fieldset ul li .agreementArea div table thead th{width: 33.33%; border-width: 0 1px 1px 0; border-style: solid; border-color: #d1d1d1; padding-top:10px; padding-bottom: 10px;}
.contactUsArea .contentArea fieldset ul li .agreementArea div table tbody td{border-right: 1px solid #d1d1d1; padding-top: 20px; padding-bottom: 20px;}
.contactUsArea .contentArea fieldset ul li .agreementArea div mark{margin-top: 10px;}

.contactUsArea .contentArea fieldset input[type="submit"]{font-size: 20px; font-weight: 700; color: white; width: 260px; height: 60px; background-color: #1c75c7; border-radius: 100px; border: none; display: block; margin: 0 auto;}


/* customres */

/* customres - solution*/
.solutionArea h5{font-size: 32px; font-weight: 700; margin-bottom: 40px;}
.solutionArea h5 ~ p{font-size: 17px; line-height: 24px;}
.solutionArea h5 ~ p:not(:last-of-type){margin-bottom: 25px;}
.solutionArea h6{font-size: 24px; font-weight: 700;}
.solutionArea > .contentArea > *{margin-bottom: 190px;}

.subPage .solutionArea .subMenu{margin-bottom: 0;}
.solutionArea .startArea{text-align: center; position: relative; /* margin-bottom: 180px; */ padding: 120px 0 80px;/*  background-color: #f5f8fa; */}
.solutionArea .startArea::before{content: ''; position: absolute; left: 0; top: -110px; width: 100%; height: 525px;background-color: #f5f8fa; z-index: -1;}
.solutionArea .startArea h4{font-size: 48px; font-weight: 400; margin-bottom: 30px;}
.solutionArea .startArea h4 b{font-weight: 700;}
.solutionArea .startArea p{font-size: 18px; line-height: 34px; margin-bottom: 70px;}
/* .solutionArea .startArea img{width: 100%; max-width: 1220px;} */
.solutionArea .startArea ol{display: flex; justify-content: center;}
.solutionArea .startArea ol li{width: 367px; height: 147px; background-repeat: no-repeat; background-position: center top; position: relative;}
.solutionArea .startArea ol li:nth-child(1){background-image: url('../images/customres_solutionStart01.png');}
.solutionArea .startArea ol li:nth-child(2){background-image: url('../images/customres_solutionStart02.png');}
.solutionArea .startArea ol li:nth-child(3){background-image: url('../images/customres_solutionStart03.png');}
.solutionArea .startArea ol li span{font-size: 18px; font-weight: 700; color: #34393e; text-align: center; position: absolute; bottom: -45px; left: 0; width: 100%;  }

/* .solutionArea .kindArea{margin-bottom: 190px;} */
.solutionArea .kindArea h5 ~ p:last-of-type{margin-bottom: 115px;}
.solutionArea .kindArea h6{margin-bottom: 45px;}
.solutionArea .kindArea > div:not(:first-of-type){margin-top: 130px;}
.solutionArea .kindArea > div ul{border-top: 1px solid #dedede;}
.solutionArea .kindArea > div ul li{height: 165px; display: flex; align-items: center; justify-content: space-between; padding: 0 0 0 30px; background-repeat: no-repeat; background-position: center; background-size: cover; border-bottom: 1px solid #dedede;}
.solutionArea .kindArea > div ul li:nth-child(1){background-image: url('../images/customres_solutionKind01.png');}
.solutionArea .kindArea > div ul li:nth-child(2){background-image: url('../images/customres_solutionKind02.png');}
.solutionArea .kindArea > div ul li:nth-child(3){background-image: url('../images/customres_solutionKind03.png');}
.solutionArea .kindArea > div ul li strong{font-size: 22px; font-weight: 700;}
.solutionArea .kindArea > div ul li strong mark{font-size: 18px; font-weight: 700; display: block; margin-top: 15px;}
.solutionArea .kindArea > div ul li p{font-size: 15px; line-height: 24px;}

/* .solutionArea .kindArea > div:nth-of-type(2){padding-top: 10px; padding-left: 375px; background: url('../images/customres_solutionCauseBG.png') no-repeat left bottom;} */
.solutionArea .kindArea > div strong{font-size: 24px; font-weight: 700; display: block;}
.solutionArea .kindArea > div strong{margin-bottom: 30px;}
.solutionArea .kindArea > div div:not(:last-of-type){margin-bottom: 80px;}
/* .solutionArea .kindArea > div div{box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);} */
.solutionArea .kindArea > div div p{font-size: 17px; line-height: 24px;}

.solutionArea .causeArea{display: flex; align-items: center;}
.solutionArea .causeArea img{width: 315px; margin-right: 40px; }

.solutionArea .symptomArea img{width: 100%; margin-top: 55px;}
/* .solutionArea .kindArea > div > div:nth-of-type(1){display: flex; align-items: center; padding: 40px 0;}
.solutionArea .kindArea > div > div:nth-of-type(1)::before{content: ''; width: 210px; height: 135px; background: url('../images/customres_solutionCauseImg01.png') no-repeat center; border-right: 1px solid #e5e5e5; margin-right: 40px;}
.solutionArea .kindArea > div > div:nth-of-type(2){padding: 40px;}
.solutionArea .kindArea > div > div:nth-of-type(2)::before{content: ''; display: block; height: 128px; background: url('../images/customres_solutionCauseImg02.png') no-repeat center / cover;  margin-bottom: 45px;}
.solutionArea .kindArea > div > div:nth-of-type(2) p{padding-top: 40px;  border-top: 1px solid #e5e5e5;} */

.solutionArea .diagnosisArea{background:#f5f8fa url('../images/customres_solutionDiagnosisBG.png') no-repeat right bottom; padding: 135px 0 100px;}
.solutionArea .diagnosisArea > div{position: relative;}
.solutionArea .diagnosisArea > div::before{content: ''; position: absolute; right: -218px; top: -135px; width: 373px; height: 440px; background: url('../images/customres_solutionDiagnosisImg02.png') no-repeat center / cover;}
.solutionArea .diagnosisArea > div::after{content: ''; position: absolute; right: 0px; bottom: -200px; width: 319px; height: 600px; background: url('../images/customres_solutionDiagnosisImg01.png') no-repeat center / cover;}
.solutionArea .diagnosisArea > div > p:last-of-type{margin-bottom: 100px;}
.solutionArea .diagnosisArea > div strong{font-size: 28px; font-weight: 500; line-height: 33px; display: block; margin-bottom: 50px;}
.solutionArea .diagnosisArea > div ul li{font-size: 17px; line-height: 24px; padding-left: 50px; position: relative;}
.solutionArea .diagnosisArea > div ul li::before{content: ''; width: 29px; height: 29px; position: absolute; left: 0; top: -5px; background-repeat: no-repeat; background-size: cover;}
.solutionArea .diagnosisArea > div ul li:nth-child(1)::before{background-image: url('../images/customres_solutionDiagnosis01.png');}
.solutionArea .diagnosisArea > div ul li:nth-child(2)::before{background-image: url('../images/customres_solutionDiagnosis02.png');}
.solutionArea .diagnosisArea > div ul li:nth-child(3)::before{background-image: url('../images/customres_solutionDiagnosis03.png');}
.solutionArea .diagnosisArea > div ul li:not(:last-child){margin-bottom: 40px;}

.solutionArea .cureArea h5{margin-bottom: 70px;}
.solutionArea .cureArea > ul{display: flex; justify-content: space-between;}
.solutionArea .cureArea > ul > li{width: calc((100% - 60px) / 3); height: 170px; padding: 10px 0 0 45px; box-sizing: border-box; background-color: white; background-repeat: no-repeat; background-position: right top;  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */ border-right: 1px solid #cacfd3;}
.solutionArea .cureArea > ul > li:first-child{border-left: 1px solid #cacfd3;}
.solutionArea .cureArea > ul > li:nth-child(1){background-image: url('../images/customres_solutionCure01.png');}
.solutionArea .cureArea > ul > li:nth-child(2){background-image: url('../images/customres_solutionCure02.png');}
.solutionArea .cureArea > ul > li:nth-child(3){background-image: url('../images/customres_solutionCure03.png');}
.solutionArea .cureArea > ul > li strong{display: block; font-size: 22px; font-weight: 700; margin-bottom: 20px;}
.solutionArea .cureArea > ul > li ul li{font-size: 17px; line-height: 30px; padding-left: 15px; position: relative;}
.solutionArea .cureArea > ul > li ul li::before{content: '';  width: 2px; height: 2px; position: absolute; left: 5px; top: 15px; background-color: black;}
.solutionArea .cureArea > ul > li ul li span{display: block;}

.solutionArea .managementArea{margin-bottom: 100px;}
.solutionArea .managementArea h5{margin-bottom: 90px;}
.solutionArea .managementArea ul{ display: flex; flex-wrap: wrap;}
.solutionArea .managementArea ul li{width: 50%; padding-left: 125px; box-sizing: border-box; background-repeat: no-repeat; background-position: left top;}
.solutionArea .managementArea ul li:not(:nth-child(-n + 2)){margin-top: 100px;}
.solutionArea .managementArea ul li:nth-child(1){background-image: url('../images/customres_solutionManagement01.png');}
.solutionArea .managementArea ul li:nth-child(2){background-image: url('../images/customres_solutionManagement02.png');}
.solutionArea .managementArea ul li:nth-child(3){background-image: url('../images/customres_solutionManagement03.png');}
.solutionArea .managementArea ul li:nth-child(4){background-image: url('../images/customres_solutionManagement04.png');}
.solutionArea .managementArea ul li:nth-child(5){background-image: url('../images/customres_solutionManagement05.png');}
.solutionArea .managementArea ul li:nth-child(6){background-image: url('../images/customres_solutionManagement06.png');}
.solutionArea .managementArea ul li strong{display: block; font-size: 18px; font-weight: 700; margin-bottom: 10px;}
.solutionArea .managementArea ul li p{font-size: 15px; line-height: 24px;}

.solutionArea small{font-size: 14px; padding-left: 15px;}
.solutionArea small b{position: relative; display: block; font-weight: 700; margin-bottom: 20px;}
.solutionArea small b::before{content: '*'; position: absolute; left: -5px; top: 0;}


/* customres - hawto*/
.hawToArea .subMenu + div{text-align: center; margin-bottom: 130px;}
.hawToArea .subMenu + div strong{margin-bottom: 30px;}
.hawToArea .subMenu + div p{text-align: center; font-size: 18px; line-height: 36px;}

.hawToArea .installationBox{margin-bottom: 150px; padding: 135px 0; background-color: #f5f8fa;}
.hawToArea .installationBox ol{display: flex; text-align: center;}
.hawToArea .installationBox ol li{flex: 1; counter-increment: appCount; font-size: 24px; color: #1c1c1e; padding-bottom: 25px; position: relative;}
.hawToArea .installationBox ol li::before{content: counter(appCount); font-size: 16px; display: block; width: 30px; line-height: 30px; margin: 0 auto 25px; font-weight: 700; color: white; background-color: #0fb4da; border-radius: 100%;}
.hawToArea .installationBox ol li:not(:last-child)::after{content: ''; position: absolute; right: -7.5px; top: 53%; width: 15px; height: 30px; background: url('../images/product_nextIcon.png') no-repeat center / cover;}
.hawToArea .installationBox ol li .downArea{margin-top: 40px; padding-top: 110px; padding-left: 40px; background: url('../images/product_appImg01.png') no-repeat center top;}
.hawToArea .installationBox ol li .downArea a{display: flex; align-items: center; font-size: 15px; font-weight: 700; color: #8d8d8d;}
.hawToArea .installationBox ol li .downArea a::before{content: ''; width: 23px; height: 23px; background-repeat: no-repeat; background-position: center; background-size: cover; margin-right: 5px;}
.hawToArea .installationBox ol li .downArea a:nth-of-type(1):before{background-image: url('../images/product_appIcon01.png');}
.hawToArea .installationBox ol li .downArea a:nth-of-type(2):before{background-image: url('../images/product_appIcon02.png');}
.hawToArea .installationBox ol li .downArea a:not(:last-of-type){margin-bottom: 8px;}
.hawToArea .installationBox ol li:not(:first-child){background-repeat: no-repeat; background-position: center bottom;}
.hawToArea .installationBox ol li:nth-child(2){background-image: url('../images/customres_appImg02.png');}
.hawToArea .installationBox ol li:nth-child(3){background-image: url('../images/product_appImg03.png');}
.hawToArea .installationBox ol li:nth-child(4){background-image: url('../images/product_appImg04.png');}

.hawToArea .hawToBox h4{font-size: 32px; font-weight: 700; margin-bottom: 70px;}
.hawToArea .hawToBox ol{padding-left: 485px; background: url('../images/customres_hawToImg.png') no-repeat left top;}
.hawToArea .hawToBox ol li{counter-increment: hawToCount; font-size: 18px; line-height: 24px;}
.hawToArea .hawToBox ol li:not(:last-child){margin-bottom: 50px;}
.hawToArea .hawToBox ol li strong{font-weight: 700;}
.hawToArea .hawToBox ol li strong::before{content:'step' counter(hawToCount) '.';}
.hawToArea .hawToBox ol li span{color: #ff0000;}
.hawToArea .hawToBox ol li img{margin-top: 20px;}