@media screen and (max-width:533px) {
    html{font-size: 3.00187617260788vw;}
}

/* body{max-width: 533px; margin: 0 auto;} */
.mobileWidth{width: calc(100% - 4.375rem); /* max-width: 533px; */ margin: 0 auto;}

/* h 937   1vh = 9.37*/
.mainPage{overflow: hidden;}
.mainPage header{position: fixed; left: 0; top: 0; width: 100%; padding-top: 5.3361vh; z-index: 10;}
.mainPage header > div > div{display: flex; justify-content: space-between;}
.mainPage header > div > div h1{font-size: 1.375rem; color: #3a3a40;}
.mainPage header > div > div button{width: 2.000rem;}
.mainPage header > div > div button span{display: block; height: 0.125rem; background-color: black;}
.mainPage header > div > div button span:not(:last-child){margin-bottom: 0.250rem;}
.mainPage header > div > nav{display: none;}

.mainPage footer{display: none;}
