

/* 서브페이지 */
.subPage main{ margin-top: 85px; position: relative; z-index: 2; background-color: white;}
.subPage main.aboutUsArea{padding-top: 85px; padding-bottom:200px;}
.subPage main.supportsArea{padding-top: 135px;}
.subPage main.customresArea{padding-top: 135px; padding-bottom:200px;}
/* .aboutUsArea{padding-top: 135px; padding-bottom:200px;} */

.subPage h2{font-size: 60px; font-weight: 900; margin-bottom: 60px;}

.subPage .subMenu{display: flex; margin-bottom: 110px; overflow: auto;}
.subPage .subMenu li:not(:last-child){margin-right: 35px;}
.subPage .subMenu li a{font-size: 22px; font-weight: 500; padding-bottom: 15px; position: relative; white-space: nowrap;}
.subPage .subMenu li a::after{content: ''; position: absolute; left: 50%; bottom: 0; width: 0; height: 2px; background-color: black;}
.subPage .subMenu li.active a::after , .subPage main .subMenu li:hover a::after {left: 0; width: 100%;}
.subPage .subMenu li:hover a::after{transition-duration: 0.5s; transition-property: left , width;}
.subPage .subMenu + div > strong:not([lang="en"]){display: block; font-size: 42px; font-weight: 700; line-height: 54px; margin-bottom: 55px;}
.subPage .subMenu + div > strong[lang="en"]{display: block; font-size: 48px; font-weight: 900;}


/* about as - helthCare */
.helthCareArea::after{content: ''; display: block; height: 470px; background: url('../images/aboutUs_helthCareImg02.png') no-repeat center / cover; }
.helthCareArea .contentArea strong{margin-bottom: 60px;}
.helthCareArea .contentArea p{font-size: 20px; line-height: 36px; color: #565656; text-transform: uppercase; margin-bottom: 60px;}
.helthCareArea .contentArea img{width: 100%; margin-bottom: 70px;}
.helthCareArea .contentArea q{display: block; font-family: 'Libre Baskerville', serif; font-size: 28px; line-height: 48px; margin-bottom: 150px;}

/* about as - location */
.locationArea .contentArea .locationBox{margin-bottom: 100px;}
.locationArea .contentArea .locationBox img{width: 100%;}
.locationArea .contentArea figure{padding: 0 45px; box-sizing: border-box;}
.locationArea .contentArea figure img{width: 100%; margin-bottom: 35px;}
.locationArea .contentArea figure figcaption h4{font-size: 28px; font-weight: 800; margin-bottom: 35px;}
.locationArea .contentArea figure figcaption address{font-style: normal;}
.locationArea .contentArea figure figcaption address ul{font-size: 18px; line-height: 32px;}
.locationArea .contentArea figure figcaption address ul li{display: flex;}
.locationArea .contentArea figure figcaption address ul li strong{font-weight: 700; width: 95px;}

/* about as - news */
.newsArea .contentArea .newsList li:not(:last-child){margin-bottom: 80px;}
.newsArea .contentArea .newsList li figure img{width: 100%; border: 1px solid #e5e5e5; margin-bottom: 30px; box-sizing: border-box;}
.newsArea .contentArea .newsList li figure figcaption b{display: block; font-size: 18px; font-weight: 600; margin-bottom: 15px;}
.newsArea .contentArea .newsList li figure figcaption b time{font-family: 'Noto Sans KR',sans-serif; font-weight: 600;}
.newsArea .contentArea .newsList li figure figcaption b time::before{content: '| '; display: inline-block; margin: 0 15px;}
.newsArea .contentArea .newsList li figure figcaption h4{font-size: 28px; font-weight: 700; line-height: 38px; margin-bottom: 20px;}
.newsArea .contentArea .newsList li figure figcaption p{font-size: 20px; line-height: 30px; margin-bottom: 30px;}
.newsArea .contentArea .newsList li figure figcaption a{font-size: 18px; font-weight: 700; color: #00b3e3;}

/* about as - careers */
.careersArea .contentArea strong{margin-bottom: 30px;}
.careersArea .contentArea p{font-size: 20px; line-height: 36px; color: #565656;}
